body {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifaaaaa;

}

a{
    text-decoration: none;
}

.instr {
    font-size: 20px;

}


.submit_form {
    position: absolute;
    margin-left: 610px;
    margin-top: -120px;
    padding: 20px 70px;
    outline: none;
    border: none;
    font-size: 23px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(90deg, rgba(148, 187, 233, 1) 0%, rgba(238, 174, 202, 1) 100%);
    transition: all 0.6s ease;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.submit_form:hover {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: rgb(92, 135, 185);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.171);
    animation: crecer 0.5s ease forwards;
}

.submit_form:active {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: rgb(92, 135, 185);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.171);

}

@keyframes crecer {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.login {
    margin-left: 224px;
    margin-top: 70px;
    padding-top: 11%;
    background-color: aliceblue;
    width: 980px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    height: 500px;
    border-radius: 80px 20px;
}

.header1 {
    font-size: 100px;
    margin-top: -40px;
    padding-bottom: 2%;
    text-align: center;
    font-size: 80px;
}

.form_login {
    text-align: center;
    height: 10px;

}

.input_form {
    margin-top: -20px;
}



.gmail_input {
    border-radius: 10px;
    border: none;
    outline: none;
    height: 53px;
    width: 500px;
    background-color: rgba(222, 222, 222, 0.495);
    transition: 0.3s ease;
}



.password_input {
    border-radius: 10px;
    border: none;
    outline: none;
    height: 53px;
    width: 500px;
    margin-top: 4%;
    background-color: rgba(222, 222, 222, 0.495);
    transition: 0.3s ease;
}




.icon {
    position: absolute;
    margin-top: -78px;
    margin-left: 409px;
    font-size: 35px;
    color: rgba(238, 174, 202, 1);
    display: flex;
    gap: 40px;
}

.icon i {
    font-size: 35px;
    color: rgba(238, 174, 202, 1);
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon i:hover {
    transform: scale(1.3);
    color: rgba(148, 187, 233, 1);
}


.gmail_input,
.password_input,
.custom-input {
    position: relative;
    padding-left: 40px;
    font-size: 20px;
}






.forgot {
    color: rgba(238, 174, 202, 1);
}

.forgot:hover {
    color: rgba(148, 187, 233, 1);
}

::placeholder {
    font-size: 20px;
    color: rgba(78, 142, 195, 0.395);
    padding-right: 5%;

}